&.technical {
    background-color: $dark-blue;

    header {
        color: $light-grey;
    }

    .content {
        color: $light-grey;

        @media #{$medium-device} {
            display: flex;
            flex-direction: row;
        }  

        .paragraph {
            width: 100%;
            text-align: center;
            font-size: $small-text;

            @media #{$medium-device} {
                flex-grow: 1;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: rem-calc(0 0 20 0);
                }
            }

            svg {
                display: block;
                height: rem-calc(64);
                width: 100%;
                padding: rem-calc(40 0);

                path {
                    fill: $light-grey;
                }
            }

            &.front-end {
                svg {
                    path {
                        &:first-of-type{
                            fill: $flame-orange;
                        }
                    }
                }
            }

            &.back-end {
                svg {
                    path {
                        &:last-of-type{
                            fill: $flame-orange;
                        }
                    }
                }
            }
        } 
    }
}