@import 'functions';
@import 'variables';

//Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Montserrat');

body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    color: $light-grey;

    h1, h2, h3, h4, h5, h6 {
        text-align:left;
        font-weight: 100;
        margin: rem-calc(8 0);
        font-family: 'Montserrat', sans-serif;
        letter-spacing: rem-calc(4);
        text-transform: uppercase;
        color: $light-grey;
    }
    
    h1 {
        font-size: rem-calc(116); //old 64
    }

    h2 {
        font-size: rem-calc(42);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .panel {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        background-color: $dark-ground;
        padding: rem-calc(160 0);

        header {
            font-family: 'Montserrat', sans-serif;
            text-align:center;
            width: 100%;
            font-size: rem-calc(78);
            padding: rem-calc(20 0);
        }
        
        .content{
            .paragraph {
                font-size: rem-calc(42);
                padding: rem-calc(80 0);
            }
        }

        //Panel overrides here
        @import 'panel-night';
        @import 'panel-experience';
        @import 'panel-technical';
        @import 'panel-about';
        @import 'panel-footer';
    }

    .confined {
        width: 80vw;
        max-width: rem-calc(1024);
        margin: 0 auto;
    }

    .triangle {
        width: 0; 
        height: 0; 

        border-style: solid;
        border-color: transparent;
    }
}