@import 'functions';
@import 'variables';

//Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Amatic+SC|Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $light-grey;

    h1, h2, h3, h4, h5, h6 {
        text-align:left;
        font-weight: 100;
        margin: rem-calc(8 0);
        font-family: 'Amatic SC', sans-serif;
        letter-spacing: rem-calc(10);
        color: $light-grey;
    }
    
    h1 {
        font-size: rem-calc(64);
    }

    h2 {
        font-size: rem-calc(32);
    }

    .panel {
        height: 100vh;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        background-color: $dark-ground;

        header {
            text-align:center;
            width: 100%;
            font-size: rem-calc(32);
            padding: rem-calc(40 0);
        }

        //Panel overrides here
        @import 'panel-night';
        @import 'panel-experience';
        @import 'panel-technical';
        @import 'panel-about';
        @import 'panel-contact';
    }

    .confined {
        max-width: rem-calc(1024);
        margin: 0 auto;
    }

    .triangle {
        width: 0; 
        height: 0; 

        border-style: solid;
        border-color: transparent;
    }
}