@import 'functions';
@import 'variables';

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 100;
        margin: rem-calc(8 0);
    }

    .panel {
        height: 100vh;
        min-height: rem-calc(300);
        width: 100%;
        min-width: rem-calc(300);

        display: flex;
        flex-direction: column;
        background-color: $dark-ground;

        @import 'night-sky';
    }
}