//LH: Holds common SCSS variables

$font-size-root: 16px;

//Colours (or colors)
$dark-ground: #0e0f12;
$light-grey: #fbfbfc;
$dark-grey: #9a9ea6;
$flame-orange: #d38c1d;
$light-blue: #9ab2b9;
$dark-blue: #4a626a;

//Device media queries - mobile first design

$portrait-phone: "only screen and (max-width : 320px)";
$landscape-phone: "only screen and (max-width : 320px)";

@media #{$landscape-phone} {
  background: red;
}
